@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

$font-family: "Outfit", sans-serif;

$color1: rgb(13, 25, 43); //body background
$color2: rgb(20, 37, 61); //main background
$color3: hsl(215, 51%, 70%); //text color 1;
$color4: rgb(0, 255, 247); //text color 2.

$color-white: #ffffff;

$font-h1: 1.5em;
