@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

$font-family: 'Outfit', sans-serif;

$color-primary: rgb(13, 25, 43);   //background da página.
$color-secondary: rgb(20, 37, 61); //background do main.
$color-tertiary: hsl(215, 51%, 70%);//cor de texto 1;
$color-quaternary: rgb(0, 255, 247); //cor de texto 2.

$color-white: #ffffff;

$font-h1: 1.5em;